<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            {% for item in navbar %}
                {% if item.curr %}
                    {% set curr = 'navbar-item-curr' %}
                {% else %}
                    {% set curr = '' %}
                {% endif %}
                
                <a class="navbar-item {{ curr }}" {% if item.link %} href="{{ url(item.link) }}"{% endif %}>
                    <div>{{ item.text }}</div>
                </a>
            {% endfor %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
