<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="menu">
            {% for item in menu %}
                {% if item.active %}
                    {% set curr = 'active' %}
                {% else %}
                    {% set curr = '' %}
                {% endif %}
                
                <a class="menu-item {{ curr }}" href="{{ url(item.path) }}">
                    <div>{{ item.title }}</div>
                </a>
            {% endfor %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
