{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('table') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('table') }}
{% endblock %}

{% block body %}

	{# <div {{ vue_component('Table', { 'headers': headers, 'table': table }) }}></div> #}
	<table id="datatable" class="display compact">
		<thead>
			<tr>
				{% for header in headers %}
					<th>{{ header }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in table %}
				<tr>
					{% set hidden = true %}
					{% for data in row %}
						<td {% for key, value in data[1] %} {{ key }}="{{ value }}" {% endfor %}>{{ data[0] }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
