<h1>{{ title }}</h1>
<table id="report">
	<thead>
		<tr>
			{% for header in headers %}
				<th>{{ header }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
			<tr>
				{% for data in row %}
					<td {% for key, value in data[1] %} {{ key }}="{{ value }}" {% endfor %}>{{ data[0] }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
